@font-face {
  font-family: 'hkh';
  src: url('../fonts/hkh.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mw';
  src: url('../fonts/mw.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'syh';
  src: url('../fonts/my.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
.font_hk {
  font-family: hkh;
  position: absolute;
  visibility: hidden;
}
.purple {
  color: #874ad3;
}
.red {
  color: #dc4c47;
}
.green {
  color: #3fc94b;
}
.blue {
  color: #4396de;
}
.yellow {
  color: #ecb61a;
}
.purple_back {
  background: url("../img/info_back/purple.jpg") center no-repeat;
}
.red_back {
  background: url("../img/info_back/red.jpg") center no-repeat;
}
.green_back {
  background: url("../img/info_back/green.jpg") center no-repeat;
}
.yellow_back {
  background: url("../img/info_back/yellow.jpg") center no-repeat;
}
.blue_back {
  background: url("../img/info_back/blue.jpg") center no-repeat;
}
.loading {
  position: absolute;
  z-index: 9999;
  width: 20%;
  left: 40%;
  top: 40%;
}
.oMask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #333333;
  opacity: 0.3;
  display: none;
}
.developer_info_container {
  display: none;
  width: 81%;
  height: 43%;
  position: absolute;
  z-index: 9999;
  background: #f6faf7;
  border-radius: 5px;
  left: 9.5%;
  top: 25%;
}
.developer_info_container .relative_ghost {
  position: relative;
  height: 100%;
  width: 100%;
}
.developer_info_container .relative_ghost .close_btn {
  position: absolute;
  left: 92%;
  top: 5px;
}
.developer_info_container .relative_ghost .tips {
  text-align: center;
  font-size: 9px;
  font-family: mw;
  width: 100%;
  position: absolute;
  top: 92%;
}
.developer_info_container .relative_ghost .info_list {
  font-family: mw;
  text-align: center;
  line-height: 28px;
}
.developer_info_container .relative_ghost .info_title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 6% 0;
}
#generate_info_page {
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  position: relative;
}
#generate_info_page .flag {
  position: absolute;
  width: 15.33%;
  left: 4%;
  top: 15px;
}
#generate_info_page .developer_info {
  position: absolute;
  width: 6.4%;
  left: 89.5%;
  top: 15px;
}
#generate_info_page .info_title {
  text-align: center;
  margin-top: 3.6em;
}
#generate_info_page .info_title span {
  display: inline-block;
  font-family: "syh";
  font-weight: bold;
}
#generate_info_page .info_title .first_l {
  font-size: 2.6em;
}
#generate_info_page .info_title .second_l {
  margin-top: 2px;
  font-size: 2.3em;
}
#generate_info_page .avatar {
  display: block;
  margin: 1.2em auto;
  margin-bottom: 0.3em;
  width: 5.625em;
  height: 5.625em;
  background: #FFFFFF;
  border-radius: 50%;
}
#generate_info_page .nick_name {
  text-align: center;
  font-size: 1em;
}
#generate_info_page .info_inputer {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.8em;
  border: none;
  height: 100px;
  font-size: 1.5em;
}
#generate_info_page .info_inputer span {
  display: inline-block;
  font-size: 0.55em;
  padding: 0.2em 0;
}
#generate_info_page .info_inputer input {
  font-size: 13px;
}
#generate_info_page .name_inputer {
  padding: 0.59em 3%;
  width: 94%;
  border-radius: 8px;
  margin-bottom: 0.8em;
  border: none;
}
#generate_info_page .date_container {
  position: relative;
}
#generate_info_page #date_selector {
  padding: 0.59em 3%;
  width: 94%;
  border-radius: 8px;
  margin-bottom: 0.8em;
  position: relative;
  border: none;
}
#generate_info_page #date_ghost {
  padding: 0.5em 2%;
  width: 96%;
  border-radius: 8px;
  margin-bottom: 0.8em;
  position: absolute;
  border: none;
  top: 0;
  opacity: 0;
}
#generate_info_page #generate_btn {
  width: 140px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-radius: 7px;
  margin: 0 auto;
  font-family: syh;
  margin-top: 70px;
  color: #ffffff;
  font-size: 17px;
}
#generate_info_page .copyright {
  width: 100%;
  position: absolute;
  top: 95%;
  text-align: center;
  font-size: 0.7em;
}
#generate_info_page .copyright .copy_fonts {
  font-size: 1em;
  font-family: mw;
}
#canvas_page {
  width: 100%;
  overflow: hidden;
}
#canvas_page canvas {
  display: block;
  margin: 0 auto;
}
#canvas_page img {
  width: 100%;
  float: left;
  display: block;
}
.mbsc-dt-month {
  font-size: 1em;
}
@media (max-width: 340px) {
  #generate_info_page .info_title .first_l {
    font-size: 2em;
  }
  #generate_info_page .info_title .second_l {
    font-size: 1.8em;
  }
  #generate_info_page .avatar {
    margin: 0.9em auto;
    width: 4.7em;
    height: 4.7em;
  }
  .developer_info_container .relative_ghost .info_title {
    padding: 4% 0;
    font-weight: 400;
  }
  #generate_info_page .info_inputer {
    margin-top: 0.2em;
  }
  #generate_info_page .info_inputer span {
    font-size: 0.5em;
  }
  #generate_info_page .name_inputer {
    margin-bottom: 0.45em;
  }
  #generate_info_page #generate_btn {
    margin-top: 58px;
  }
}
@media (min-width: 390px) {
  #generate_info_page .info_title .first_l {
    font-size: 3em;
  }
  #generate_info_page .info_title .second_l {
    font-size: 2.7em;
  }
}
