<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>逐梦新时代，我们的青春宣言书</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css?v=4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="__PUBLIC__/css/mobiscroll.custom-3.0.0-beta2.min.css">
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/js/mobiscroll.custom-3.0.0-beta2.min.js"></script>
    <script src="__PUBLIC__/js/main.js?v=4"></script>
    <script>
        var avatar_src = "{$avatar}";
        var public_path = "__PUBLIC__/";
    </script>
</head>
<body>
    <div class="oMask"></div>
    <span class="font_hk">无悔</span>
    <div class="developer_info_container">
        <div class="relative_ghost">
            <span class="close_btn"> X </span>
            <p class="info_title">开发人员信息</p>
            <p class="info_list">产品设计：杨奇凡</p>
            <p class="info_list">视觉设计：游红岩</p>
            <p class="info_list">程序设计：周政&nbsp;&nbsp;&nbsp;</p>
            <p class="info_list">指导老师：杨奇凡</p>
            <p class="info_list">出品：红岩网校工作站</p>
            <p class="tips">部分设计素材来源于网络</p>
        </div>
    </div>
    <img src="__PUBLIC__/img/loading.gif" alt="" class="loading">
    <div id="generate_info_page">
        <img src="__PUBLIC__/img/flag.png" alt="" class="flag">
        <img src="__PUBLIC__/" alt="" class="developer_info">
        <h1 class="info_title">
            <span class="first_l">逐梦新时代</span><br>
            <span class="second_l">我们的青春宣言书</span>
        </h1>
        <img src="{$avatar}" alt="" class="avatar">
        <p class="nick_name">{$nickname}</p>
        <div class="info_inputer">
            <span class="first_capion">请填写你的姓名或网名</span>
            <div id="name_container">
                <input type="text" class="name_inputer" value="" placeholder="可输入字长最多6位" maxlength="6"><br>
            </div>
            <span class="second_capion">请填写入团时间或开始从事团学工作时间</span>
            <div class="date_container">
                <input type="text" id="date_selector" readonly>
                <input type="text" id="date_ghost">
            </div>
        </div>
        <div id="generate_btn">
            生成宣言书
        </div>
        <p class="copyright">©<span class="copy_fonts">红岩网校工作站</span></p>
    </div>
    <div id="canvas_page" style="display: none">
        <span class="save_tip">长按保存图片</span>
    </div>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://wx.idsbllp.cn/api/share.js"></script>
    <script>
        WXSHARE.config({debug: false});
        WXSHARE.ready(function() {
            var option = {
                title: '逐梦新时代 | 嗨！快来生成你的青春宣言书',
                link: 'https://wx.idsbllp.cn/game/54/index.php',
                imgUrl: 'https://wx.idsbllp.cn/game/54/Public/img/tuan_logo.png?v=1',
                desc: '献礼五四！逐梦新时代，我们的青春宣言书',
                type: '',
                success: function() {
                    console.log('分享成功');
                },
                cancel: function() {
                    console.log('取消分享');
                },
            };

            wx.onMenuShareTimeline(option);
            wx.onMenuShareAppMessage(option);
            wx.onMenuShareQQ(option);
            wx.onMenuShareWeibo(option);
            wx.onMenuShareQZone(option);

        });

    </script>
</body>
</html>