<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>逐梦新时代,我们的青春宣言书</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="__PUBLIC__/css/mobiscroll.custom-3.0.0-beta2.min.css">
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/js/mobiscroll.custom-3.0.0-beta2.min.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
    <script>
        var avatar_src = "{$avatar}";
        var public_path = "__PUBLIC__/";
    </script>
</head>
<body>
    <span class="font_hk">无悔</span>
    <img src="__PUBLIC__/img/loading.gif" alt="" class="loading">
    <div id="generate_info_page">
        <img src="__PUBLIC__/img/flag.png" alt="" class="flag">
        <img src="__PUBLIC__/" alt="" class="developer_info">
        <h1 class="info_title">
            <span class="first_l">逐梦新时代</span><br>
            <span class="second_l">我们的青春宣言书</span>
        </h1>
        <img src="{$avatar}" alt="" class="avatar">
        <p class="nick_name">{$nickname}</p>
        <div class="info_inputer">
            <span class="first_capion">请填写你的姓名或网名</span><br>
            <input type="text" class="name_inputer" value="{$nickname}"><br>
            <span class="second_capion">请填写入团时间或从事团学工作时间</span>
            <div class="date_container">
                <input type="text" id="date_selector" readonly placeholder="点击选择日期">
                <input type="text" id="date_ghost">
            </div>
        </div>
        <div id="generate_btn">
            生成宣言书
        </div>
        <p class="copyright">©<span class="copy_fonts">红岩网校工作站</span></p>
    </div>
    <div id="canvas_page" style="display: none">

    </div>
</body>
</html>